<!--suppress HtmlFormInputWithoutLabel -->

<div *ngIf="!(sessionQuery.isLoggedIn$ | async)">
  <div class="p-fluid p-formgrid p-grid p-mb-2">
    <!-- email -->
    <div class="p-field p-col">
      <label for="email_input"> Email </label>
      <input
        id="email_input"
        type="text"
        pInputText
        [(ngModel)]="email"
        (keydown.enter)="this.tryLogin()"
      />
    </div>

    <!-- password -->
    <div class="p-field p-col">
      <label for="password_input"> Password </label>
      <input
        id="password_input"
        type="password"
        pInputText
        [(ngModel)]="password"
        (keydown.enter)="this.tryLogin()"
      />
    </div>
  </div>

  <p-button (click)="this.tryLogin()">Login</p-button>
</div>
