<ng-container *ngIf="sessionQuery.isLoggedIn$ | async; else loggedOut">
  <p-menubar [model]="secureItems" styleClass="p-mb-4">
    <!-- logout -->
    <p-button
      label="Logout"
      styleClass="p-button-text p-button-plain"
      (click)="logout()"
    ></p-button>
  </p-menubar>
</ng-container>

<ng-template #loggedOut>
  <p-menubar styleClass="p-mb-4">
    <!-- register -->
    <p-button
      label="Register"
      styleClass="p-button-text p-button-plain"
      routerLink="register"
    ></p-button>
    <!-- login -->
    <p-button
      label="Login"
      styleClass="p-button-text p-button-plain"
      routerLink="login"
    ></p-button>
  </p-menubar>
</ng-template>
