<h1>My Challenges</h1>

<div *ngIf="challenges$ | async as list" class="p-mb-4">
  <p-table [value]="list" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>End date</th>
        <th>Proof URL</th>
        <th>Is active</th>
        <th>Outcome</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-challenge>
      <tr>
        <td>{{ challenge.author }}</td>
        <td>{{ challenge.title }}</td>
        <td>{{ challenge.description | shorten: 20 }}</td>
        <td>{{ challenge.endDate }}</td>
        <td>{{ challenge.proofUrl }}</td>
        <td>{{ challenge.isActive }}</td>
        <td>{{ challenge.outcome }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-button label="Add challenge" (click)="addChallenge()"></p-button>
